---
import Layout from "../../layouts/LayoutV10.astro";
import Header from "../../components/v10/Header.astro";
import Hero from "../../components/v10/Hero.astro";
import SocialProof from "../../components/v10/SocialProof.astro";
import Pillars from "../../components/v10/Pillars.astro";
import Pricing from "../../components/v10/Pricing.astro";
import Testimonials from "../../components/v10/Testimonials.astro";
import FAQ from "../../components/v10/FAQ.astro";
import CTA from "../../components/v10/CTA.astro";
import Footer from "../../components/v10/Footer.astro";
---

<Layout title="Local Leader | #1 Local SEO for Service Providers">
  <Header />
  <main>
    <Hero />
    <SocialProof />
    <Pillars />
    <Pricing />
    <Testimonials />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
