---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

const trades = [
  {
    name: "Plumbers",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="w-8 h-8"><path d="M160 64c0-17.7 14.3-32 32-32H320c17.7 0 32 14.3 32 32V128H160V64zm-48 64H48C21.5 128 0 149.5 0 176v32c0 26.5 21.5 48 48 48H77.3C64.2 280.1 56 300.2 56 322.3C56 381.5 104.5 430.3 163.7 430.3H208v19.2C208 484.7 236.8 512 272 512h48c35.2 0 64-28.7 64-63.7V430.3h44.3C487.5 430.3 536 381.5 536 322.3c0-22.1-8.2-42.2-21.3-57.7H544c26.5 0 48-21.5 48-48V176c0-26.5-21.5-48-48-48H400V64c0-35.3-28.7-64-64-64H192c-35.3 0-64 28.7-64 64v64H112zm208 96H192V128H368v96z"/></svg>`,
  },
  {
    name: "Electricians",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="currentColor" class="w-8 h-8"><path d="M0 256L28.5 28c2-16 15.6-28 31.8-28H228.9c15 0 27.1 12.1 27.1 27.1c0 3.2-.6 6.5-1.7 9.5L208 160H347.3c20.2 0 36.7 16.4 36.7 36.7c0 7.4-2.2 14.6-6.4 20.7l-192.2 281c-5.9 8.6-15.6 13.7-25.9 13.7h-2.9c-15.7 0-28.5-12.8-28.5-28.5c0-2.3 .3-4.6 .9-6.9L176 288H32c-17.7 0-32-14.3-32-32z"/></svg>`,
  },
  {
    name: "Builders",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor" class="w-8 h-8"><path d="M256.2 0C260.1 0 263.4 3.1 263.9 7L271.2 64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h64V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h16.8l7.3-57c.5-3.9 3.8-7 7.7-7c4.5 0 7.9 3.9 7.4 8.4L503.5 64H512c35.3 0 64 28.7 64 64v320c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128c0-35.3 28.7-64 64-64h8.5L65.1 8.4C64.5 3.9 67.9 0 72.5 0c3.9 0 7.2 3.1 7.7 7L87.4 64H256.2zM224 320H160V448h64V320zm96 0H256V448h64V320zm96 0H352V448h64V320zM160 192H96v64h64V192zm64 0H160v64h64V192zm96 0H224v64h64V192zm64 0H288v64h64V192zm96 0H352v64h64V192zm64 0H416v64h64V192z"/></svg>`,
  },
  {
    name: "Landscapers",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="w-8 h-8"><path d="M512 32c0 113.6-84.6 207.5-194.2 222c-7.1-53.4-30.6-101.6-65.3-139.3C290.8 46.3 364 0 448 0l32 0c17.7 0 32 14.3 32 32zM0 96C0 78.3 14.3 64 32 64l32 0c123.7 0 224 100.3 224 224l0 32 0 160c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-160C100.3 320 0 219.7 0 96z"/></svg>`,
  },
  {
    name: "Concreters",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="w-8 h-8"><path d="M78.6 5C69.1-2.4 55.6-1.5 47 7L7 47c-8.5 8.5-9.4 22-2.1 31.6l80 104c4.5 5.9 11.6 9.4 19 9.4h54.1l109 109c-14.7 29-10 65.4 14.3 89.6l112 112c12.5 12.5 32.8 12.5 45.3 0l64-64c12.5-12.5 12.5-32.8 0-45.3l-112-112c-24.2-24.2-60.6-29-89.6-14.3l-109-109V104c0-7.5-3.5-14.5-9.4-19L78.6 5zM19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L233.4 374.3l-60.3-60.3L19.9 396.1z"/></svg>`,
  },
  {
    name: "Painters",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="w-8 h-8"><path d="M430.1 124.2c-8.9-6.5-18.6-11.9-29-16.1C367.3 95.5 338.7 88 307.4 88H286V48c0-26.5-21.5-48-48-48s-48 21.5-48 48V88H169C75.7 88 0 163.7 0 257c0 93.3 75.7 169 169 169h90c0 8.8-7.2 16-16 16H200c-17.7 0-32 14.3-32 32s14.3 32 32 32h43c44.2 0 80-35.8 80-80v-5.3c32-3.4 61.1-17.5 83.3-39.7C428.1 358.1 448 325.4 448 288.6V220.2c0-35-8.6-68.5-17.9-96zm-109.9 88c0 22.1-17.9 40-40 40s-40-17.9-40-40 17.9-40 40-40 40 17.9 40 40z"/></svg>`,
  },
  {
    name: "Roofers",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentColor" class="w-8 h-8"><path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c.2 35.5-28.5 64.3-64 64.3l-320 0c-35.3 0-64-28.7-64-64l0-160.2-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>`,
  },
  {
    name: "Tilers",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" class="w-8 h-8"><path d="M0 32C0 14.3 14.3 0 32 0H480c17.7 0 32 14.3 32 32s-14.3 32-32 32V448c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32V64C14.3 64 0 49.7 0 32zm96 96v64h64V128H96zm0 128v64h64V256H96zm128-128v64h64V128H224zm0 128v64h64V256H224zm128-128v64h64V128H352zm0 128v64h64V256H352z"/></svg>`,
  },
];

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class=`${className}`>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Built for tradies like you.</Title>
      <p class="mt-4 text-heading-3 md:text-lg">
        If your customers search for you on Google, we can make you the obvious choice.
      </p>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      {
        trades.map((trade) => (
          <div class="p-5 rounded-xl border border-box-border bg-box-bg hover:bg-slate-200 dark:hover:bg-slate-800 flex flex-col items-center gap-3 min-w-[100px] transition duration-200 group">
            <span class="text-heading-3 group-hover:text-primary transition duration-200" set:html={trade.icon} />
            <span class="text-sm font-medium text-heading-2 group-hover:text-heading-1 transition duration-200">
              {trade.name}
            </span>
          </div>
        ))
      }
    </div>
  </Container>
</section>
