---

---

<section
  class="relative flex flex-col md:flex-row gap-2 lg:gap-5 text-heading-3 font-medium"
>
  <div class="flex items-center mx-auto lg:mx-0">
    <span
      class="font-bold rounded-full w-8 h-8 mr-2 text-primary inline-flex justify-center items-center"
      >&checkmark;</span
    >
    <div>Top of Google Maps</div>
  </div>
  <div class="flex items-center mx-auto lg:mx-0">
    <span
      class="font-bold rounded-full w-8 h-8 mr-2 text-primary inline-flex justify-center items-center"
      >&checkmark;</span
    >
    First Page of Google
  </div>
  <div class="flex items-center mx-auto lg:mx-0">
    <span
      class="font-bold w-8 h-8 mr-3 text-primary inline-flex justify-center items-center"
      >&checkmark;</span
    >5-Star Reviews
  </div>
</section>
