---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

import { faqs } from "../../utils/data.ts";
import GradiantText from "../shared/GradiantText.astro";

type FAQProps = {
  question: string;
  answer: string;
};

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="faq" class=`${className}`>
  <Container className="">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title>Frequently Asked <GradiantText>Questions</GradiantText></Title>
      <p class="text-heading-3 md:text-lg">
        Real answers. No fluff.
      </p>
    </div>

    <div
      class="grid border rounded-3xl border-box-border border-box-bg bg-box-bg shadow-lg divide-y divide-slate-200 max-w-3xl mx-auto mt-12 overflow-hidden"
    >
      {
        faqs.map((faq: FAQProps) => {
          return (
            <div class="py-6 px-8 hover:bg-slate-50 transition-colors duration-200">
              <div class="flex flex-col gap-3">
                <h3 class="font-bold text-lg text-heading-1">
                  {faq.question}
                </h3>
                <Paragraph className="text-heading-3 leading-relaxed">
                  {faq.answer}
                </Paragraph>
              </div>
            </div>
          );
        })
      }
    </div>
  </Container>
</section>
